.navbar{
    background-color: #fff;
    color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftside{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.leftside h4 {
    margin-left: 50px;
    font-weight: 500;
}
.leftside h4:active {
    text-decoration: underline;
    color: #000;
}
.navlink{
    color: black;
}